[Unit]
Description=Ghost systemd service for blog: notetoservices-com
Documentation=https://docs.ghost.org

[Service]
Type=simple
WorkingDirectory=/srv/users/mattbgates7856/apps/github/public/xarex.github.io/blog
User=999
Environment="NODE_ENV=production"
ExecStart=/usr/local/bin/node /usr/local/bin/ghost run
Restart=always

[Install]
WantedBy=multi-user.target
